<html>
	<head>
		<script type="text/javascript" src="/js/third_party/jquery-2.1.1.min.js"></script>
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="/css/main.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<input id="query" placeholder="Search for a movie!" autofocus>
		<button id="query-submit">Click for a Twittercism</button>
		<div id="results"></div>
		<div id="negative-tweet"></div>
		<div id="positive-tweet"></div>
		<script type="text/javascript">
			$('#query-submit').click(function(){
				console.log($("#query").val());
				$.post('/search', {
					search:$("#query").val(),
					depth: 8
				},function(data){
					console.log(data);
					var score = (data.numPositives/(data.numPositives+data.numNegatives))*100;
					$('#results').text(score.toFixed(2)+"% "+data.totalTweets);
					$('#negative-tweet').text("NEGATIVE: "+data.choiceNegativeTweet+" "+data.numNegatives);
					$('#positive-tweet').text("POSITIVE: "+data.choicePositiveTweet+" "+data.numPositives);
				}, "json");
			});
			$('#query').keyup(function(event){
			    if(event.keyCode == 13){
			        $("#query-submit").click();
			    }
			});
		</script>
	</body>
</html>