body {
	background-color: #5bc0de;
}

.col-lg-3 {
	min-height: 100%;
}

.title {
	text-align: center;
	font-family: 'Lobster', cursive;
	color: #1D4566;
	font-size: 8rem;
	margin-bottom: 1.5rem;
}

.search-column {
	padding-top: 1rem;
	padding-bottom: 20px;
	margin: 0 auto;
	background-color: #EEFEFF;
	min-height: 100%;
}

.movie-info {
	display: none;
}

.movie-form {
	margin-bottom: 8px;
}

#movie-poster{
	width: 100%;
	min-height: 400px;
}

#results {
	text-align: center;
	font-size: 8rem;
}

#imdb-rating{
	text-align: center;
	font-size: 2rem;
}

.outer-tweet-container {
	height: 100%;
	position: relative;
	font-size: 2rem;
	display: none;
}

.tweet-header{
	height: 40px;
	position:absolute;
	top:0;
	left:0;
	margin-top:2px;
	margin-bottom:2px;
}

.progress {
	display: none;
}
.tweet {
	padding: 5px;
	background-color: #EEFEFF;
	border: 1px solid #888;
	border-radius: 5px;
	font-size: 1.2rem;
	margin-bottom: 6px;
}

.tweet-container {
	overflow: auto;
	top: 44px;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}

#movie-title {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 1rem;
}

#movie-poster{
	height: 41%;
}